<!DOCTYPE html>
<html lang="en">

<body>
    <h2 class="header" style="text-align: center; margin: 24px 0; color: #303133;">Simple Login</h2>
    <div class="container"
        style="margin: 0 auto; padding: 24px; width: 384px; display: flex; flex-direction: column; gap: 16px; background-color: #fdfcff; border-radius: 16px; box-shadow: 0 2px 3px 0 rgba(4, 30, 66, 0.09);">
        <header class="mail__header" style="white-space: nowrap; font-size: 1.5rem; color: #303133;">
            <p style="margin: 0;">
                <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                <strong th:text="${username}"></strong>, Hello!
            </p>
        </header>
        <main class="mail__content" style="display: flex; flex-direction: column; gap: 12px;">
            <!-- To confirm this email for your account, enter the following verification code in the app: -->
            <!--/*@thymesVar id="content" type="java.lang.String"*/-->
            <p class="content" style="margin: 0; font-size: 0.875rem; color: #606266;" th:text="${content}"></p>
            <!--/*@thymesVar id="code" type="java.lang.Integer"*/-->
            <p class="code"
                style="margin: 0; padding: 16px; color: #303133; background-color: #e9ebee;border-radius: 8px; text-align: center; letter-spacing: 1.25rem; font-size: 1.25rem; font-weight: bold; font-family: monospace;"
                th:text="${code}"></p>
            <p class="description" style="margin: 0; font-size: 0.75rem; color: #606266;">If you don't ask for a
                confirmation
                email, you can safely ignore this email.</p>
        </main>
        <div class="divide" style="height: 1px; background-color: #EBEEF5;"></div>
        <footer class="mail__footer" style="font-size: 0.75rem; color: #909399;">
            <p style="margin: 0;">Simple Login</p>
        </footer>
    </div>
</body>

</html>